{% extends "layout.html" %}
{% block content %}

    {% with messages = get_flashed_messages(category_filter=["alert"]) %}
        {% if messages %}
            <script type="text/javascript">UIkit.notification({message: '{{messages[0]}}', pos: 'top-center', status: 'success'})</script>
        {% endif %}
    {% endwith %}

    <div class="uk-card uk-card-default uk-card-large uk-card-body">
    <div class="uk-column-1-2 uk-padding">
         <img src = "{{book.image_path}}" style="width: auto"/>
        <h1 class="uk-heading-small">{{ book.book_name }}</h1>
        <table class="uk-table uk-table-hover uk-table-divider">
        <tbody>
            <tr>
                <td>저자</td>
                <td>{{ book.author }}</td>

            </tr>
            <tr>
                <td>쪽수</td>
                <td>{{ book.pages }}</td>

            </tr>
            <tr>
                <td>출판사</td>
                <td>{{ book.publisher }}</td>
            </tr>
        <tr>
                <td>출간일</td>
                <td>{{ book.publication_date }}</td>
            </tr>
        <tr>
                <td>ISBN</td>
                <td>{{ book.isbn }}</td>
            </tr>
        </tbody>
    </table>
        <form action="{{ url_for('rental.rentalBook') }}" method="post">
                <input hidden type="number" name="bookid" value="{{ book.id }}"/>
                <input class="uk-button uk-button-secondary uk-width-1-1" type = "submit" value="대여하기"></form>
            </form>


                <input hidden type="text" value = "<script  "id = "ShareUrl" readonly>
                <button class="uk-button uk-button-secondary uk-width-1-1" value="공유하기" onclick="urlClipCopy()">
                    공유하기</button>

    </div>

    <div class="uk-placeholder uk-text-emphasis">
        {{ book.description }}
    </div>

    <div class="uk-padding-large">
        <ul uk-accordion="multiple: true">
    <li>
        <a class="uk-accordion-title" href="#"><h3>댓글({{ comments|length }})</h3></a>
        <div class="uk-accordion-content uk-margin-large-left uk-margin-large-right">
            <dl class="uk-description-list uk-description-list-divider">
        {% for comment in comments %}
            {% with cmt = comment.comment %}

            <dt>
                 <img src = "{{cmt.user.image}}" style="width: 70px "/>
                {{ cmt.user.name }}
                {% if comment.rating %}
                <span class="uk-label">{{ comment.rating }}점</span>
                {% endif %}
            </dt>
            <dd><p>{{ cmt.content}} {{ comment.create_date }}</p>
            </dd>
            {% endwith %}
        {% endfor %}
        </dl>
        </div>
    </li>
    <li>
        <a class="uk-accordion-title" href="#"><h3>댓글달기</h3></a>
        <div class="uk-accordion-content uk-margin-large-left uk-margin-large-right">
            <form action="{{ url_for('book.create_comment', bookid=book.id) }}", method="POST">

         <div class="uk-margin">
            <textarea required class="uk-textarea" name="content" rows="3"></textarea>
        </div>
                <div>
                    <h4>평점</h4>
            <input required id="input-1" name="rating" class="rating rating-loading" data-min="0" data-max="5" data-step="1">
                <input class="uk-button uk-button-primary" type="submit" value="댓글 작성"/>
                </div>

    </form>

        </div>
    </li>
</ul>
    </div>
    </div>


{% endblock %}