{% extends "layout.html" %}
{% block content %}
    <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">

        <img src = "{{book.image_path}}" style="width: auto"/>
    <h3 class="uk-card-title">{{ book.book_name }}</h3>

    <p><span class="uk-label">저자</span> {{ book.author }}</p>
    <p><span class="uk-label">쪽수</span> {{ book.pages }}</p>
    <p><span class="uk-label">출판사</span> {{ book.publisher }}</p>
    <p><span class="uk-label">출간일</span> {{ book.publication_date }}</p>
    <p><span class="uk-label">ISBN</span> {{ book.isbn }}</p>

    <div>
        {{ book.description }}
    </div>


        <h3>댓글</h3>
        <dl class="uk-description-list uk-description-list-divider">
        {% for comment in comments %}
            <dt>{{ comment.user.name }}  <span class="uk-label">{{ comment.rating }}점</span></dt>
            <dd><p>{{ comment.content}} {{ comment.create_date }}</p>
            </dd>

        {% endfor %}
        </dl>
    <h3>댓글 달기</h3>
    <form action="{{ url_for('book.create_comment', bookid=book.id) }}", method="post">

         <div class="uk-margin">
            <textarea class="uk-textarea" name="content" rows="5"></textarea>
        </div>
        <h4>평점</h4>
        <div class="uk-form-controls">
            <label><input class="uk-radio" type="radio" name="rating" value="1"> 1</label><br>
            <label><input class="uk-radio" type="radio" name="rating" value="2"> 2</label><br>
            <label><input class="uk-radio" type="radio" name="rating" value="3"> 3</label><br>
            <label><input class="uk-radio" type="radio" name="rating" value="4"> 4</label><br>
            <label><input class="uk-radio" type="radio" name="rating" value="5"> 5</label><br>
        </div>
        <div class="uk-margin">
            <input class="uk-button uk-button-primary" type="submit" value="댓글 작성"/>
        </div>
    </form>
    </div>


{% endblock %}