{% extends "layout.html" %}
{% block content %}
<div class="uk-grid-match uk-grid-small uk-child-width-1-4@m " uk-grid uk-height-match="target: > div > .uk-card" uk-grid>
{% for rental in rentals.items %}
{% with book=rental.book %}
    <div>
        <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-card-body">
            <div class="uk-card-media-top">
                <img class="uk-border-rounded" src="{{ book.image_path }}" uk-img >
            </div>
            <p><a class="uk-link-text" href="/book/{{ book.id }}">{{ book.book_name }}</a></p>
            <p class="uk-label">대여날짜 : {{ rental.rental_date }}</p>

        </div>
        <form action="/return" method="post">
                <input hidden type="number" name="rentalid" value="{{ rental.id }}"/>
                <input class="uk-button uk-button-secondary uk-width-1-1" type = "submit" value="반납하기"></form>
        </form>
    </div>
{% endwith %}
{% endfor%}
</div>
            <div class="uk-margin">
        <ul class="uk-pagination uk-flex-center" uk-margin>

            {% if rentals.has_prev %}
            <li><a href="{{url_for('rental.return_book', page = rentals.prev_num)}}"><span uk-pagination-previous></span></a></li>
            {% endif %}

            {% for page in rentals.iter_pages() %}
                {% if page == rentals.page %}
                    <li class="uk-active" ><a href="{{url_for('rental.return_book', page = page)}}">{{ page }}</a></li>
                {% else %}
                    <li><a href="{{url_for('rental.return_book', page = page)}}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}

            {% if rentals.has_next %}
                <li><a href="{{url_for('rental.return_book', page = rentals.next_num)}}"><span uk-pagination-next></span></a></li>
            {% endif %}
        </ul>
    </div>

{% endblock %}