{% extends "layout.html" %}
{% block content %}

<h4>로그인</h4>

<form action="/login" method="post">
    <div class="uk-form-controls uk-margin">
            <input class="uk-input uk-form-width-medium" type="text" name="email" placeholder="이메일"/>
    </div>
    <div class="uk-form-controls uk-margin">
            <input class="uk-input uk-form-width-medium" type="password" name="password" placeholder="비밀번호"/>
    </div>
    <div class="uk-form-controls uk-margin">
        <input class="uk-button uk-button-primary" type="submit" value="로그인" />
    </div>
</form>

<button onClick="location.href='signup'" class="uk-button uk-button-primary">회원가입</button>
{% endblock %}


