{% extends "layout.html" %}
{% block content %}

<h4>로그인</h4>
    {% with messages = get_flashed_messages(category_filter=["error"]) %}
        {% if messages %}
            <script type="text/javascript">UIkit.notification({message: '{{messages[0]}}', pos: 'top-center', status: 'success'})</script>
        {% endif %}
    {% endwith %}
<form method="POST", action="{{ url_for('auth.login') }}">
     {{ form.csrf_token }}

    <fieldset class="uk-fieldset">

    {{ form.email.label }}
    {{ (form.email) }}
        {% if form.email.errors %}
        <ul class="errors">
          {% for error in form.email.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}

    </fieldset>
    <fieldset class="uk-fieldset">
    {{ form.password.label }}
    {{ (form.password) }}
        {% if form.password.errors %}
        <ul class="errors">
          {% for error in form.password.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}

    </fieldset>

    {{ form.login }}

</form>

    <form action="{{ url_for('auth.signup') }}" method="GET">
        <input type="submit" value="회원가입">
    </form>

{% endblock %}


