{% extends "layout.html" %}
{% block content %}

    {% with messages = get_flashed_messages(category_filter=["error"]) %}
        {% if messages %}
            <script type="text/javascript">UIkit.notification({message: '{{messages[0]}}', pos: 'top-center', status: 'success'})</script>
        {% endif %}
    {% endwith %}

    <h4>회원가입</h4>
<form method="POST", action="{{ url_for('auth.signup') }}", enctype="multipart/form-data">
     {{ form.csrf_token }}


    <fieldset class="uk-fieldset">
        {{ form.image.label }}
    {% if form.defalut_images %}
    {% for image in form.defalut_images %}
        <a href="#">
        <img src="{{ image.url }}" width="100px">
        </a>
        {% endfor %}
    {% endif %}
        {{ (form.image) }}
            {% if form.image.errors %}
            <ul class="errors">
              {% for error in form.image.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
            {% endif %}

        </fieldset>
        <fieldset class="uk-fieldset">
    {{ form.username.label }}
    {{ (form.username) }}
        {% if form.username.errors %}
        <ul class="errors">
          {% for error in form.username.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}

    </fieldset>
    <fieldset class="uk-fieldset">
    {{ form.email.label }}
    {{ (form.email) }}
        {% if form.email.errors %}
        <ul class="errors">
          {% for error in form.email.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}

    </fieldset>
    <fieldset class="uk-fieldset">
    {{ form.password.label }}
    {{ (form.password) }}
        {% if form.password.errors %}
        <ul class="errors">
          {% for error in form.password.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}

    </fieldset>
    <fieldset class="uk-fieldset">
    {{ form.confirm.label }}
    {{ (form.confirm) }}
        {% if form.confirm.errors %}
        <ul class="errors">
          {% for error in form.confirm.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}

    </fieldset>
    {{ form.submit }}
</form>

{% endblock %}