{% extends "layout.html" %}
{% block content %}
    <h4>회원가입</h4>
<form action="/signup" method="post">
    <input class="uk-input uk-form-width-medium" type="text" name="name" placeholder="이름"/>
    <input class="uk-input uk-form-width-medium" type="text" name="email" placeholder="이메일"/>
    <input class="uk-input uk-form-width-medium" type="password" name="password" placeholder="비밀번호"/>
    <input class="uk-input uk-form-width-medium" type="password" name="validation" placeholder="비밀번호 확인"/>
    <input class="uk-button uk-button-primary" type="submit" value="회원가입" />
</form>
{% endblock %}