<!DOCTYPE html>
<html lang="kr" style="height: 100%">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.16/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.17/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.17/dist/js/uikit-icons.min.js"></script>
    <title>엘리스 도서관</title>
    {% endblock %}

    <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-right ">
        <ul class="uk-navbar-nav ">
            <li class="uk-active"><a href="/book">도서목록</a></li>
            <li class="uk-active"><a href="/log">대여기록</a></li>
            <li class="uk-active"><a href="/return">반납하기</a></li>
            <li class="uk-active"><a href="/logout">로그아웃</a></li>
        </ul>
    </div>
    </nav>
</head>
<body >
<div class="uk-container">
    {% block content %}{% endblock %}
</div>
</body>
</html>